.col1
{
    width: 50%;
    float: left;
}
.row1::after
{
    content: "";
    display:table;
    clear: both;
}
.bg1
{
    background-color: black;
    
    color: white;
}

#heading1{
    color:tomato;
    text-align: center;
}


.fa-angle-right:before {
content: "\f0a9";
color: aqua;
}

@media screen and (max-width: 600px) {
  .col1 {
    width: 100%;
  }
}