#maincontainer{
    width:100%;
    height:400px;
    background-color:white;
    overflow:hidden ;
    position: relative;
  text-align: center;
  color: white;
}
#slidescontainer{
    width:400%;
    height:400px;
    position:relative ;
    display:flex;
    color:white;
    animation: ani 12s infinite  linear;

}
.centered-h {
  
  height:10em;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight:700;
  text-align:center;
  margin:0 0 10px;
  line-height: 56px;
  position: relative;
    color:white;
}

div.centered-h h1 {
    color:white;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

@keyframes ani{
    0%{left:0%;}
    12.6%{left:0%;}
    16.6%{left:-100%;}
    30.2%{left:-100%;}
    33.2%{left:-200%;}
    47%{left:-200%;}
    50%{left:-300%;}
    62.6%{left:-300%;}
    66.6%{left:-200%;}
    80.2%{left:-200%;}
    83.2%{left:-100%;}
    97.8%{left:-100%;}
    100%{left:0%;}
    0%{left:0%;}
        }
#slides1{
    width:100%;
    height:400px;
    filter: brightness(85%);
    background-image: url("/images/gcet2.jpg");
    background-size: 115% 400px;
}
#slides2{
    width:100%;
    height:400px;
    filter: brightness(100%);
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("/images/gcet.jpg");
    background-size:100% 400px;
}
#slides3{
    width:100%;
    height:400px;
    filter: brightness(85%);
    background-image: url("/images/gcet2.jpg");
    background-size: 115% 400px;
}
#slides4{
    width:100%;
    height:400px;
    filter: brightness(85%);
    background-image: url("/images/gcet1.jpg");
    background-size: 100% 400px;
}
#maincontainer h1{
    color:black;
    position: absolute ;
    width:auto ;
    font-size:30px;
    left: 50px;
    text-transform: capitalize ;
    justify-content:center ;
    display: inline-block ;
    z-index:99;
    top:25%;
}
#teamsection{
    color: black;
    text-align:center ;
    text-transform:capitalize ;
    padding-top:20px;
    font-family:consolas;
}
