#maincontainer{
    width:100%;
    height:400px;
    background-color:white;
    overflow:hidden ;
}
#slidescontainer{
    width:400%;
    height:400px;
    position:relative ;
    display:flex;
    animation: ani 12s infinite  linear;
}
@keyframes ani{
    0%{left:0%;}
    12.6%{left:0%;}
    16.6%{left:-100%;}
    30.2%{left:-100%;}
    33.2%{left:-200%;}
    47%{left:-200%;}
    50%{left:-300%;}
    62.6%{left:-300%;}
    66.6%{left:-200%;}
    80.2%{left:-200%;}
    83.2%{left:-100%;}
    97.8%{left:-100%;}
    100%{left:0%;}
    0%{left:0%;}
        }
#slides1{
    width:100%;
    height:400px;
    filter: brightness(70%);
    background-image: url("https://s7.gifyu.com/images/15914131428740b3f9e70c39d4590.jpg ");
    background-size: 115% 400px;
}
#slides2{
    width:100%;
    height:400px;
    filter: brightness(70%);    
    background-image: url("https://github.com/Fusion-conference/index/blob/main/images/gcet.jpg?raw=true");
    background-size:100% 400px;
}
#slides3{
    width:100%;
    height:400px;
    filter: brightness(70%);
    background-image: url("https://s7.gifyu.com/images/15914131428740b3f9e70c39d4590.jpg ");
    background-size: 115% 400px;
}
#slides4{
    width:100%;
    height:400px;
    filter: brightness(70%);
    background-image:url("images/gcet.jpg");
    background-size: 100% 400px;
}
#maincontainer h1{
    color:white;
    position: fixed ;
    width:auto ;
    font-size:20px;
    left: 20px;
    text-transform: capitalize ;
    justify-content:center ;
    display: inline-block ;
    z-index:99;
    top:20%;
}
#teamsection{
    color: black;
    text-align:center ;
    text-transform:capitalize ;
    padding-top:20px;
    font-family:consolas;
}
