.a
{
   border-radius: 50%;
   
   
}
.polaroid{
	position: relative;
  width: 50%;
}

div.polaroid {
  width: 220px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



div.container {
  text-align: center;
  
}

.b
{
	font-size: 30px;
	color: #222629 ;
	font-weight: bold;
	margin-bottom: 0px;

}

.c
{
	font-size: 20px;
	color: #61892F;
	margin-top: 0px;
	font-weight:bolder;
	margin-bottom: 0px;

}
.d
{   
	margin-top: 0px;
	margin-bottom: 0px;
    font-size: 15px;
	font-weight:bolder;
	color: #86C232;
}



.flex-container
{
  display: flex;
  flex-direction: row;


  
}

.flex-container > div {
 
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;

 }
