.topNav{
    position: sticky;
    top:0px;
}

.sideNavbar{
    height: 100vh; 
    width: 300px; 
    position: sticky; 
    color: white;
    z-index: 1; 
    top: 120px;
    /* bottom:0px; */
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    padding-top: 30px; 
    float: left;
}

.news{
    width: 250px;
    height: 150px;
    margin-left: 25px;
    background-color: orangered;
    margin-bottom: 60px;
}

.impDates{
    width: 250px;
    height: 200px;
    margin-left: 25px;
    background-color: orangered;
    margin-bottom: 60px;

}

.smallHeading{
    background-color: grey;
    width: 250px;
    height:30px;
    text-align: center;
    font-size: 18px;
}

.content{
    font-size: 12px;
    margin:15px;
}

.contentPage{
    margin-left: 300px;
}