.topNav{
    position: sticky;
    top:0px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.mainContent{
    margin:0px 100px 0px 100px;
    background-color: white;
}

body{
    background-color: whitesmoke;
}

.sideNavbar{
    height: 3320px;
    overflow: hidden; 
    width: 300px; 
    color: black;
    z-index: 1; 
    top: 120px;
    left: 0;
    background-color: rgb(114, 255, 114);
    overflow-x: hidden; 
    padding-top: 70px; 
    float: left;
}

.news{
    width: 250px;
    height: 180px;
    margin-left: 25px;
    background-color: rgb(28, 224, 217);
    margin-bottom: 80px;
}

.impDates{
    width: 250px;
    height: 350px;
    margin-left: 25px;
    background-color: rgb(28, 224, 217);
    margin-bottom: 60px;

}

.smallHeading{
    background-color: grey;
    width: 250px;
    height:30px;
    text-align: center;
    font-size: 18px;
}

.content{
    font-size: 12px;
    margin:15px;
}

.contentPage{
    margin-left: 300px;
    z-index: -100;
}